body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; /* Fondo blanco para todo */
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Fondo blanco */
  }
  
  .register-content {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .register-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
  }
  
  .register-logo img {
    max-width: 100%;
    height: auto;
  }
  
  .register-form {
    flex: 1;
    padding: 40px;
    background-color: #fff;
  }
  
  .register-form h2 {
    color: #EE2835;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #85AA30;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #76a021;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .success-message {
    color: green;
    text-align: center;
  }
  
  .register-links {
    text-align: center;
  }
  
  .register-links p {
    margin: 5px 0;
  }
  
  .register-links a {
    color: #EE2835;
    text-decoration: none;
  }
  
  .register-links a:hover {
    text-decoration: underline;
  }
  