.verify-qr-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .verify-qr-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .verify-qr-card {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .verify-qr-card-title {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .verify-qr-card-text {
    font-size: 1.2rem;
    color: #555;
  }
  
  .enjoy-movie-message {
    font-size: 1.3rem;
    color: #28a745;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .logo-image {
    max-width: 150px;
    margin-top: 20px;
  }
  